<!-- Navigation -->

<app-nav-bar></app-nav-bar>

<header class="text-white">
    <div class="container text-center">
      <h1>REHNUMA - Your Guide to Motherhood</h1>
    </div>
</header>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img class="featurette-image img-responsive center-block" src="assets/img/icon.png" alt="Generic placeholder image">
        </div>
        <div class="col-lg-7 mx-auto">
          <h2>About Rehnuma</h2>
          <p class="lead">Our AI-powered chatbot provides access to authentic information about Pregnency. As opposed to a random google search which usually results in weird and unauthentic solutions that cause greater anxiety of the mother-to-be, our chatbot is well equipped with knowledge in the domain to rightly answer the questions that arouse during pregnancy. </p>
        </div>  
          <!-- <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          </ul> -->
      </div>
      <div class="col text-center">
        <button routerLink="/about" class="btn" style="text-align: center;">Learn More</button>
      </div>
    </div>
</section>

<section id="team" class="bg-light-section">
        <div class="col-lg-8 mx-auto">
          <h2>Meet our Team</h2>
          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
            <div class="col-lg-3">
                <img class="img-circle" src="assets/img/img_avatar.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Mehdi Ali</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Nisha Shaikh</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Reeba Aslam</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Abeera Tariq</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col text-center">
                <button routerLink="/team" class="btn" style="text-align: center;">Learn More</button>
            </div>
            </div>
      </div>
    </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">We are here to listen and improve with your feedback!</p>
      </div>  
      <div class="col-lg-5">
        <img class="featurette-image img-responsive center-block" src="assets/img/home_contact.png" alt="Generic placeholder image">
      </div>
    <div class="col text-center">
      <button routerLink="/contact" class="btn" style="text-align: center;">Learn More</button>
    </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-3">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Rehnuma - Your guide to Motherhood</p>
    </div>
</footer>