.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-image{
    height: 300px;
    width: 300px;
}
.navbar{
    background-color: #e15a97;
}
footer{
    background-color: #e15a97;
}
header{
    background-color: #eeabc4;
}
.btn{
    background-color: #eeabc4;
    border-color: #eeabc4;
}
.btn:hover{
    background-color: #e15a97;
    border-color: #e15a97;
}
.bg-light-section{
    background-color: #F9ecf2;
}
.muted{
    color: #e15a97 !important;
}
header{
    background: linear-gradient(0deg, rgba(238, 171, 196, 0.4), rgba(238, 171, 196, 1)), url("../../../../../assets/img/banner-1563653_1920.jpg");
    background-size: cover;
    height: 40%;
}
header h1{
    color: black;
}