<app-nav-bar></app-nav-bar>

<header class="text-white">
    <div class="container text-center">
      <h1>Meet Our Team</h1>
      <h3>The team comprises of budding computer scientists who have tirelessly worked on this project to make Rehnuma, your virtual friend during pregnancy.</h3>
    </div>
</header>
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
    <div class="col-lg-3">
        <img class="img-circle" src="assets/img/img_avatar.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Mehdi Ali</h2>
        <p>BS Computer Science,<br> 
            Class of 2020, <br>
            Dhanani School of Science and Engineering,<br>
            Habib University<br>
            Karachi, Pakistan.<br>
            <a href="mailto:mb03027@st.habib.edu.pk">mb03027@st.habib.edu.pk</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Nisha Shaikh</h2>
        <p>BS Computer Science,<br> 
            Class of 2020, <br>
            Dhanani School of Science and Engineering,<br>
            Habib University<br>
            Karachi, Pakistan.<br>
            <a href="mailto:ns02530@st.habib.edu.pk">ns02530@st.habib.edu.pk</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Reeba Aslam</h2>
        <p>BS Computer Science,<br> 
            Class of 2020, <br>
            Dhanani School of Science and Engineering,<br>
            Habib University<br>
            Karachi, Pakistan.
            <br>
            <a href="mailto:ra02528@st.habib.edu.pk">ra02528@st.habib.edu.pk</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Abeera Tariq</h2>
        <p>BS Computer Science,<br> 
            Class of 2020, <br>
            Dhanani School of Science and Engineering,<br>
            Habib University<br>
            Karachi, Pakistan.<br>
            <a href="mailto:at02787@st.habib.edu.pk">at02787@st.habib.edu.pk</a>
        </p>
    </div><!-- /.col-lg-4 -->
    </div>
</div>

<div class="bg-light-section">
    <div class="container">
        <div>
            <div class="row featurette">
                <div class="col-lg-7">
                    <h2 class= "center">Special Thanks To:</h2>
                </div>
                <div class="col-lg-5">
                    <img class="img-circle" src="assets/img/img_avatar2.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Dr. Saleha Raza</h2>
                    <p>Project Supervisor,<br>
                        Computer Science Program Faculty,<br>
                        Dhanani School of Science and Engineering, <br>
                        Habib University <br>
                        Karachi, Pakistan<br>
                        <a href="mailto:saleha.raza@sse.habib.edu.pk">saleha.raza@sse.habib.edu.pk</a>
                    </p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
</div>
  <!-- Footer -->
<footer class="py-3">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Rehnuma - Your guide to Motherhood</p>
    </div>
</footer>