<app-nav-bar></app-nav-bar>

<header class="text-white">
  <div class="container text-center">
    <h1>Contact Us</h1>
    <h2>We are here to listen and improve with your feedback!</h2>
  </div>
</header>
<section id="contact" class ="bg-light">
  <div class="container">
    <div class="row">
      <div id="map-container" class="z-depth-1-half map-container col-lg-7" style="height: 500px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14475.074229120899!2d67.1382762!3d24.905875!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c0681e6f7d5dc14!2sHabib%20University!5e0!3m2!1sen!2s!4v1582607515971!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>
      <div class="col-lg-5 mx-auto">
        <div class="info">
          <div class="address">
            <h4><img src="assets/icon/pin-3x.png">  Location:</h4>
            <p>Block 18, Gulistan-e-Jauhar, University Avenue، Off Shahrah-e-Faisal Rd, Faisal Cantonment, Karachi, Karachi City, Sindh</p>
          </div>

          <div class="email">
            <h4><img src="assets/icon/envelope-closed-3x.png">  Email:</h4>
            <p>info@Rehnuma.com</p>
          </div>

          <div class="team">
            <h4><img class="icon" class src="assets/icon/people-3x.png">  Team:</h4>
            <p>Check out our amazing <a routerLink="/team">team.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="py-3">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Rehnuma - Your guide to Motherhood</p>
  </div>
</footer>