<!-- <div class="p3 bg-secondary text-white"> -->
    <!-- <div class="container">
        <div class="scroller">
            <div class="inner">
                <span>Welcome to Rehnuma.</span>
                <span>Your Guide to Motherhood.</span>
                <span>To continue visiting our website</span>
                <span> & chatting with our bot <a routerLink="/main-screen" class="blue">Click </a> <a routerLink="/main-screen" class="blueb">Here</a>.</span>
            </div>
        </div>
    </div> -->
<!-- </div> -->


<!-- <div class="p3 bg-secondary text-white">
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">The Big Picture</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
            </div>
        </div>
    </div>
</section>
</div> -->
<!-- <div class="text-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->

<div class="loading">Loading&#8230;</div>